node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.expo
.expo-shared
.dist
.build
out
.tmp
.env
.env.*
.DS_Store
.idea
.vscode
coverage
android
ios
**/*.keystore
**/*.jks
**/*.p12
**/*.mobileprovision

